<div style="padding:30px;">
    <h2 class="container align-content-center">Productos</h2>
    <div class="container align-content-center" style="padding:25px;padding-top:60px;;background-color:#ffffff;">
        <div class="row" style="padding:30px;" >
            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-xl-3" *ngFor="let product of sellerHandler.sellerHandler">
                <mat-card class="elemento">
                    <mat-card-title>{{product.producto}}</mat-card-title>
                    <mat-card-subtitle>{{product.existencia}}</mat-card-subtitle>
                    <mat-card-content>
                        {{product.descripcion}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="openEditDialog()">Editar</button>
                        <button mat-raised-button color="warn">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            
            
        </div>
        <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
            <app-pagination                
                [source]="sellerHandler.sellerProducts"
            ></app-pagination>
        </nav>
        <div class="add-product-btn">
            <button mat-stroked-button class="background-green" (click)="openAddDialog()">Agregar Producto</button>
        </div>
    </div>
    
</div>

    