<div style="padding:30px;">
    <h2 class="container-fluid align-content-center">Productos</h2>
    <div class="container-fluid align-content-center" style="padding:25px;padding-top:60px;;background-color:#ffffff;">
        <div class="add-product-btn">
            <button mat-raised-button color="accent" style="width: 100%" (click)="openAddDialog()">Agregar Producto</button>
        </div>
        <div class="row" style="padding:30px;">
            <div class="col-sm-6 col-xs-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let product of productHandler.sellerRecords">
                <mat-card class="elemento" >
                    <mat-card-title> {{product.producto}}</mat-card-title>
                    <mat-card-subtitle>Existencia: {{product.existencia}}</mat-card-subtitle>
                    <mat-card-content>
                         {{product.descripcion}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="openEditDialog(product)">Editar</button>
                        <button mat-raised-button color="warn" (click)="openDeleteDialog(product)">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            
            
        </div>
        <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
            <!-- <app-pagination                
                [source]="sellerHandler.sellerProducts"
            ></app-pagination> -->
        </nav>
        
    </div>
    
</div>

    