h2{
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  color: #17a2b8;
}

.add-product-btn{
  justify-content: center;
  align-items: center;
}

.background-green{
  width: 100%;
  background-color: #24AE00;
}