<div style="padding:30px;">
    <div class="container align-content-center" style="padding:25px;padding-top:60px;;background-color:#ffffff;">
        <div class="row" style="padding:30px;">
            <mat-card class="elemento">
                <mat-card-title>Nombre Producto</mat-card-title>
                <mat-card-subtitle>Cantidad</mat-card-subtitle>
                <mat-card-content>
                    Descripcción
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="openEditDialog()">Editar</button>
                    <button mat-raised-button color="warn">Eliminar</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="elemento">
                <mat-card-title>Nombre Producto</mat-card-title>
                <mat-card-subtitle>Cantidad</mat-card-subtitle>
                <mat-card-content>
                    Descripcción
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row" style="padding:30px;">
            <mat-card class="elemento">
                <mat-card-title>Nombre Producto</mat-card-title>
                <mat-card-subtitle>Cantidad</mat-card-subtitle>
                <mat-card-content>
                    Descripcción
                </mat-card-content>
            </mat-card>
            <mat-card class="elemento">
                <mat-card-title>Nombre Producto</mat-card-title>
                <mat-card-subtitle>Cantidad</mat-card-subtitle>
                <mat-card-content>
                    Descripcción
                </mat-card-content>
            </mat-card>
        </div>
        <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">4</a></li>
                <li class="page-item"><a class="page-link">5</a></li>
                <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
        <div class="add-product-btn">
            <button mat-stroked-button class="background-green" (click)="openAddDialog()">Agregar Producto</button>
        </div>
    </div>
    
</div>

    