

<div id="loginDialog" class="card container">
    <p class="card-text">Para poder continuar con las funcionalidades del sistema debe iniciar sesión primero..</p>
    <a class="btn btn-light" style="width: 100%" (click)="signIn()">
		<span><img src="../../assets/google-plus-logo-button.png" alt=""></span>
    	Ingresar con Google
    </a>
  <hr>
  <div class="card-body">
  	<a [routerLink]="['/register']" class="card-link">Registrarme</a> 
  </div>
</div>


<!-- 
<a (click)="signOut()">Google Sign OUT</a> -->

