<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">¿Quieres vender tus propios productos?</h2>
                <p>¡Aplica para ser vendedor y ganar dinero vendiendo tus propios productos!&nbsp;</p>
            </div>
            <form>
                <div class="form-group"><label for="name">Nombre de la compañía</label><input class="form-control item" type="text" id="name"></div><button class="btn btn-primary btn-block" type="button">Aplicar</button></form>
        </div>
    </section>
</main>
