<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-info">¿Quieres vender tus propios productos?</h1>
                <p>¡Aplica para ser vendedor y ganar dinero vendiendo tus propios productos!&nbsp;</p>
            </div>
            <form>
                <mat-form-field class="full-width">
                    <input 
                    matInput placeholder="Nombre Compañía" 
                    [formControl]="companyNameFormControl" 
                    [errorStateMatcher]="matcher"
                    [(ngModel)]="company">
                    <!-- <mat-error *ngIf="!isUnique() && !companyNameFormControl.hasError('required')">
                        {{company}} ya existe
                    </mat-error> -->
                    <mat-error *ngIf="companyNameFormControl.hasError('required')">
                        Campo requerido
                    </mat-error>
                </mat-form-field>
                <button mat-button class="full-width aplicar" (click)="onSubmit()">Aplicar</button>
            </form>
        </div>
    </section>
</main>
