<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <nav>
            <ul class="pagination" >
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                	<a class="page-link" aria-label="Previous">
                		<span aria-hidden="true"  (click)="previousPage()">« Previous</span>
                	</a>
            	</li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                	<a class="page-link" aria-label="Next"   (click)="nextPage()">
                		<span aria-hidden="true">Next »</span>
                	</a>
                </li>
            </ul>
        </nav>
    </div>
</div>