<div>
        <div class="container">
            <div class="row">
                <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                    <div class="block-heading">
                        <h1 class="text-center text-info" style="background-color:#ffffff;">Solicitudes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:30px;">
        <div id="border-circular" class="container align-content-center" style="padding:0px;margin:0px;margin-top:0px;background-color:#ffffff;">
            <div class="row" style="padding:30px;">
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
            </div>
            <div class="row" style="padding:30px;">
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
            </div>
            <div class="row" style="padding:30px;">
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Título</h3>
                    <h5>Solicitante</h5>
                    <p>Descripcción</p><button class="btn btn-success" type="button" style="margin-right:24px;">Aceptar</button><button class="btn btn-danger" type="button">Rechazar</button></div>
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                <div class="block-heading">
                    <h1 class="text-center text-info" style="background-color:#ffffff;">Vendedores</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:30px;">
        <div id="border-circular" class="container align-content-center" style="padding:0px;margin:0px;margin-top:0px;background-color:#ffffff;">
            <div class="row" style="padding:30px;">
                <div class="col-md-4" id="item">
                    <h3>Nombre</h3>
                    <p>Descripcción</p><button class="btn btn-danger" type="button">Eliminar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Nombre</h3>
                    <p>Descripcción</p><button class="btn btn-danger" type="button">Eliminar</button></div>
                <div class="col-md-4" id="item">
                    <h3>Nombre</h3>
                    <p>Descripcción</p><button class="btn btn-danger" type="button">Eliminar</button></div>
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item"><a class="page-link">4</a></li>
                    <li class="page-item"><a class="page-link">5</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
        
    </div>
    <div style="padding:30px;"></div>