<div>
        <div class="container">
            <div class="row">
                <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                    <div class="block-heading">
                        <h1 class="text-center text-info" style="background-color:#ffffff;">Solicitudes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion" style="height: 400px;overflow: auto;overflow-x: auto;overflow-y: auto;">
        <div class="container align-content-center" style="padding:0px;background-color:#ffffff;">
            <p *ngIf="adminHandler.solicitudes.length === 0">No hay solicitudes en este momento.</p>
            <div class="row"  style="padding:30px;">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngFor="let solicitud of adminHandler.solicitudes">
                    <mat-card class="elemento">
                        <mat-card-title>{{solicitud.nComercio}}</mat-card-title>
                        <mat-card-subtitle *ngIf="solicitud.tipoSolicitud == 1">Solicitud de Vendedor Pendiente</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="solicitud.tipoSolicitud == 0">Solicitud de Categoría Pendiente</mat-card-subtitle>
                        <mat-card-content>
                            {{solicitud.descripcion}}
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="aceptarSolicitud(solicitud,solicitud)">Aceptar</button>
                            <button mat-raised-button color="warn" (click)="rechazarSolicitud(solicitud,solicitud)">Rechazar</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <app-pagination-admin-requests ></app-pagination-admin-requests>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                <div class="block-heading">
                    <h1 class="text-center text-info" style="background-color:#ffffff;">Vendedores</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion" style="height: 400px;overflow: auto;overflow-x: auto;overflow-y: auto;">
        <div class="container align-content-center" style="padding:0px;background-color:#ffffff;">
            <p *ngIf="adminHandler.sellerList.length === 0">No hay vendedores en este momento.</p>
            <div class="row"  style="padding:30px;">
                <mat-card class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngFor="let vendedor of adminHandler.sellerList"> 
                    <mat-card-title class="titulo">{{vendedor.comercio}}</mat-card-title>
                    <mat-card-subtitle>{{vendedor.representante}}</mat-card-subtitle>
                    <mat-card-content>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="card-image">
                    </mat-card-content>
                    <mat-card-actions class="boton">
                        <button class="btn btn-danger" id="boton" type="button">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <app-pagination-admin-sellers></app-pagination-admin-sellers>
            </nav>
        </div>
        
    </div>
    <div style="padding:30px;"></div>