<div>
        <div class="container">
            <div class="row">
                <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                    <div class="block-heading">
                        <h1 class="text-center text-info" style="background-color:#ffffff;">Solicitudes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion">
        <div class="container align-content-center" style="padding:0px;background-color:#ffffff;">
            <p *ngIf="adminHandler.solicitudes.length === 0">No hay solicitudes en este momento.</p>
            <div class="row" *ngFor="let solicitud of adminHandler.solicitudes" style="padding:30px;">
                <mat-card class="elemento">
                    <mat-card-title>{{solicitud.comercio}}</mat-card-title>
                    <mat-card-subtitle>Solicitante</mat-card-subtitle>
                    <mat-card-content>
                        Descripcción
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Aceptar</button>
                        <button mat-raised-button color="warn">Rechazar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <app-pagination ></app-pagination>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="titulo" class="col-md-12" style="padding:25px;padding-top:60px;background-color:#ffffff;">
                <div class="block-heading">
                    <h1 class="text-center text-info" style="background-color:#ffffff;">Vendedores</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion">
        <div class="container align-content-center" style="padding:0px;background-color:#ffffff;">
            <p *ngIf="adminHandler.solicitudes.length === 0">No hay vendedores en este momento.</p>
            <div class="row" *ngFor="let vendedor of adminHandler.sellerList" style="padding:30px;">
                <mat-card class="elemento">
                    <mat-card-title class="titulo">{{vendedor.comercio}}</mat-card-title>
                    <mat-card-subtitle>{{vendedor.representante}}</mat-card-subtitle>
                    <mat-card-content>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="card-image">
                    </mat-card-content>
                    <mat-card-actions class="boton">
                        <button class="btn btn-danger" id="boton" type="button">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <nav class="d-flex justify-content-center align-items-center" style="padding-top:21px;background-color:#ffffff;">
                <app-pagination ></app-pagination>
            </nav>
        </div>
        
    </div>
    <div style="padding:30px;"></div>