
.block-heading{
	border-radius: 10px;
	border: 5px solid #21D8D8;
	background-color: white;
}

#titulo{
	font-family: 'Indie Flower', cursive;
}

#item:hover{
	border-radius: 10px;
  	border: 3px solid #e3f2fd;
}

.elemento{
	background-color: #F5F5F5;
}

.titulo{
	
}

.boton{
	margin: auto;
	width: 50%;
}

.card-image{
	height: 150px;
	width: 150px;
	margin: auto;
	padding-top: 10px;
	border-radius: 50%;
}