<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Información del Producto!</h2>
                <p>Información sobre el producto seleccionado!</p>
            </div>
            <div class="block-content">
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div class="sp-wrap"><img class="img-fluid d-block mx-auto" src="{{selectedProduct.imagen}}"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h3>{{selectedProduct.producto}}</h3>
                                <div class="price">
                                    <h3>${{selectedProduct.precio}}</h3>
                                </div>
                                <div class="summary">
                                    <p>{{selectedProduct.descripcion}}.</p>
                                </div>
                                <button class="btn btn-primary" type="button"  (click)="addToCart()"><i class="icon-basket"></i>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>