<main class="page payment-page">
    <section class="clean-block payment-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Método de Pago</h2>
                <p>Estás a sólo un paso de completar tu pedido. Por favor elige un método de pago.&nbsp;</p>
            </div>
            <form>
                <div class="products">
                    <h3 class="title">Checkout</h3>
                    <div class="item"><img class="img-fluid" src="assets/img/tech/image3.png" width="65"><span class="price">$200</span>
                        <p class="item-name">Producto 1</p>
                        <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="item"><span class="price">$120</span><img class="img-fluid" src="assets/img/tech/image3.png" width="65">
                        <p class="item-name">Producto 2</p>
                        <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="total"><img class="img-fluid" src="assets/img/tech/image3.png" width="65"><span>Total</span><span class="price">$320</span></div>
                </div>
                <div class="card-details">
                    <h3 class="title">Información de la tarjeta</h3>
                    <div class="form-row">
                        <div class="col-sm-7">
                            <div class="form-group"><label for="card-holder">Card Holder</label><input class="form-control" type="text" placeholder="Card Holder"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group"><label>Fecha expiración</label>
                                <div class="input-group expiration-date"><input class="form-control" type="text" placeholder="MM"><input class="form-control" type="text" placeholder="YY"></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group"><label for="card-number">número tarjeta</label><input class="form-control" type="text" placeholder="Card Number" id="card-number"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"><label for="cvc">CVC</label><input class="form-control" type="text" placeholder="CVC" id="cvc"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group"><button class="btn btn-primary btn-block" type="button">Proceder</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>