<main class="page payment-page">
    <section class="clean-block payment-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Método de Pago</h2>
                <p>Estás a sólo un paso de completar tu pedido. Por favor elige un método de pago.&nbsp;</p>
                <mat-button-toggle-group #group="matButtonToggleGroup">
                  <mat-button-toggle (click)="tipoEntrega=0" value="0">A domicilio</mat-button-toggle>
                  <mat-button-toggle (click)="tipoEntrega=1" value="1">Recoger en tienda</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <form>
                <h3 class="title">Checkout</h3>
                <mat-divider></mat-divider>
                <div class="products" *ngFor="let product of cartHandler.getFromCartElementList()">
                    <mat-card class="item">
                        <mat-card-title><img class="img-fluid" src="{{product.imagen}}" width="65"></mat-card-title>
                        <mat-card-subtitle>{{product.producto}} ({{getCantidad(product.idProducto)}})</mat-card-subtitle>
                        <mat-card-content>{{product.descripcion}}</mat-card-content>
                        <mat-card-footer *ngIf="tipoEntrega!=0">₡{{product.precio}}</mat-card-footer>
                        <mat-card-footer *ngIf="tipoEntrega==0">₡{{product.precio}} (₡{{product.tarifa}} de envío)</mat-card-footer>
                    </mat-card>
                </div>
                <mat-divider></mat-divider>
                <mat-card class="total">
                    <mat-card-title>Total</mat-card-title>
                    <mat-card-subtitle *ngIf="tipoEntrega!=0">₡{{getTotal(false)}}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="tipoEntrega==0">₡{{getTotal(true)}}</mat-card-subtitle>
                </mat-card>
                <div *ngIf="tipoEntrega==0">
                    <h3>Por favor elija una dirección para la entrega</h3>
                    <mat-slide-toggle color="primary" [checked]="nuevaDireccion" (change)="nuevaDireccion=!nuevaDireccion">Agregar nueva dirección</mat-slide-toggle>
                    <div *ngIf="nuevaDireccion==true">
                        <mat-form-field>
                            <mat-label>Provincia</mat-label>
                          <mat-select [(ngModel)]="provinciaSeleccionada" [formControl]="provinciaFormControl">
                            <mat-option required *ngFor="let provincia of this.purchaseHandler.provincias" [value]="provincia.idProvincia">{{provincia.nombre}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="provinciaFormControl.hasError('required')">
                              Provincia <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Cantón</mat-label>
                          <mat-select [(ngModel)]="cantonSeleccionado" [formControl]="cantonFormControl">
                            <mat-option required *ngFor="let canton of filtrarCantones(provinciaSeleccionada)" [value]="canton.idCanton">{{canton.nombre}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="cantonFormControl.hasError('required')">
                              Cantón <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Distrito</mat-label>
                          <mat-select required [(ngModel)]="distrito" [formControl]="distritoFormControl">
                            <mat-option *ngFor="let distrito of filtrarDistritos(cantonSeleccionado)" [value]="distrito.idDistrito">{{distrito.nombre}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="distritoFormControl.hasError('required')">
                              Distrito <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <textarea matInput placeholder="Dirección exacta" [formControl]="direccionFormControl"></textarea>
                            <mat-error *ngIf="direccionFormControl.hasError('required')">
                              Dirección <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="card-details">
                    <h3 class="title">Información de la tarjeta</h3>
                    <form [formGroup]="form">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label>Card Holder</mat-label>
                                    <input matInput placeholder="Card Holder" [formControl]="form.controls['holderFormControl']">
                                    <mat-error *ngIf="form.controls['holderFormControl'].hasError('required')">
                                        Campo requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                  <mat-label>Fecha Expiración</mat-label>
                                  <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                  <mat-datepicker #dp
                                                  startView="multi-year"
                                                  (yearSelected)="chosenYearHandler($event)"
                                                  (monthSelected)="chosenMonthHandler($event, dp)"
                                                  panelClass="example-month-picker">
                                  </mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label>Número tarjeta</mat-label>
                                    <input matInput type="number" placeholder="Sin Guiones" [formControl]="form.controls['cardNumberFormControl']" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="form.get('cardNumberFormControl')?.invalid">
                                        <div *ngIf="form.controls['cardNumberFormControl'].hasError('required')">Campo requerido</div>
                                        <div *ngIf="(form.controls['cardNumberFormControl'].hasError('max') || form.controls['cardNumberFormControl'].hasError('min')) && !form.controls['cardNumberFormControl'].hasError('required')">El número es de 16 dígitos</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label>CVC</mat-label>
                                    <input matInput type="number" placeholder="CVC" [formControl]="form.controls['cvcFormControl']" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="form.controls['cvcFormControl'].hasError('required')">
                                        Campo requerido
                                    </mat-error>
                                    <mat-error *ngIf="(form.controls['cvcFormControl'].hasError('max') || form.controls['cvcFormControl'].hasError('min')) && !form.controls['cvcFormControl'].hasError('required')">
                                        El CVC es un número de 3 dígitos
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        
                    </form>
                    
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-sm-12">
                            <div class="form-group"><button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">Realizar Compra</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>