<main class="page shopping-cart-page" >
    <section class="clean-block clean-cart dark">
        <div class="container-fluid">
            <div class="block-heading">
                <h2 class="text-info">Shopping Cart</h2>
                <p *ngIf="globalHandler.loggedIn">Productos actualmente en su carrito de compras.</p>
                <p *ngIf="!globalHandler.loggedIn">Necesita iniciar sesión primero antes de continuar realizando compras.</p>
            </div>
            <div class="content">
                <div class="row" *ngIf="globalHandler.loggedIn">
                    <div class="col-sm-12 col-md-9 col-lg-9" style="max-height: 600px;overflow-x: auto;">
                        <img style="width: 60%;" *ngIf="cartHandler.backUpCartElements.length === 0" src="https://res.cloudinary.com/ddzutuizv/image/upload/v1526774591/no_hay_productos.jpg" alt="Imagen">
                        <div class="col-md-12 col-lg-12"  *ngFor="let product of cartHandler.getFromCartElementList()">
                            <div class="items">
                                <div class="product">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-3">
                                            <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{product.imagen}}"></div>
                                        </div>
                                        <div class="col-md-5 product-info"><a  class="product-name"><strong>{{product.producto}}</strong></a>
                                            <div class="product-specs">
                                                <div><span>Vendedor:&nbsp;</span><span class="value">{{product.vendedor}}</span></div>
                                                <div><span>Descripción:&nbsp;</span><span class="value">{{product.descripcion}}</span></div>
                                                <div><span>Duración envío:&nbsp;</span><span class="value">{{product.duracion}} horas</span></div>
                                                <div><span>Tarifa envío:&nbsp;</span><span class="value">{{product.tarifa}}</span></div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Cantidad</label>
                                            <input onkeydown="return false" type="number" min="1" max="{{product.existencia}}" #quantity value="1" id="number" class="form-control" (change)="cartHandler.onChangeQuantity(product,quantity.value)">
                                        </div>
                                        <div class="col-6 col-md-2 price">
                                            <span><strong>₡{{product.precio}}</strong></span>
                                            <button class="btn btn-danger" (click)="cartHandler.removeFromCartElements(product)">Quitar Producto</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-sm-12 co-md-3 col-lg-3" *ngIf="cartHandler.backUpCartElements.length !== 0">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Resumen</h5>
                            <hr>
                            <div class="container">
                                <h4><span class="text">Subtotal</span><span class="price" style="float: right;">₡{{cartHandler.getSubTotal()}}</span></h4> <br>
                                <!-- <h4><span class="text">Envío</span><span class="price" style="float: right;">₡{{cartHandler.getTotalEnvio()}}</span></h4><br> -->
                                <h4><span class="text" style="color: blue">Total</span><span class="price" style="color: blue;float: right;">₡{{cartHandler.getTotal()}}</span></h4><button class="btn btn-primary btn-block btn-lg" type="button" routerLink="/payment">Checkout</button>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

