<div class="container profile profile-view" id="profile">
    <form [formGroup]="form" (ngSubmit)="onSubmit(newProduct,brand,category)">
        <div class="form-row profile-row">
            <div class="col-md-4 relative">
                <div class="avatar">
                    <div class="avatar-bg center"></div>
                </div><input type="file" class="form-control" name="avatar-file" ng2FileSelect [uploader]="productHandler.uploader" accept="image/*;capture=camera">
            </div>
            <div class="col-md-8">
                <h2>Agregar Producto</h2>
                <hr>
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                    	<mat-form-field>
                    		<mat-label>Nombre Producto</mat-label>
                    		<input 
                    		matInput placeholder="Nombre" 
                    		[formControl]="form.controls['nameFormControl']" #name [(ngModel)]="newProduct.producto">
                    		<mat-error *ngIf="form.controls['nameFormControl'].hasError('required')">
						        Campo <strong>requerido</strong>
						    </mat-error>
                    	</mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field>
                    		<mat-label>Cantidad</mat-label>
                    		<input [(ngModel)]="newProduct.existencia"
                    		matInput type="number" placeholder="Cantidad" 
                    		[formControl]="form.controls['quantityFormControl']" #quantity>
                    		<mat-hint align="end">No puede ser negativo</mat-hint>
                    		<mat-error *ngIf="form.get('quantityFormControl')?.invalid">
						        Valor no válido o vacío
						    </mat-error>
                    	</mat-form-field>
                    </div>
                </div>
	            <div class="form-row">
		        	<div class="col-sm-12 col-md-6">
		        		<mat-form-field>
                    		<mat-label>Descripción del Producto</mat-label>
                    		<textarea matInput placeholder="Descripción"  [(ngModel)]="newProduct.descripcion"
                    		[formControl]="form.controls['descriptionFormControl']"
                    		#description></textarea> 
                    		
                    		<mat-error *ngIf="form.controls['descriptionFormControl'].hasError('required')">
						        Campo <strong>requerido</strong>
						    </mat-error>
                    	</mat-form-field>
		        	</div>    

                    <div class="col-sm-12 col-md-6">
                        <mat-form-field>
                            <mat-label>Marca</mat-label>
                            <mat-select required [(ngModel)]="brand"  [formControl]="form.controls['brandFormControl']">
                              <mat-option *ngFor="let brand of catalogHandler.brandsRecords" [value]="brand.marca">
                                {{ brand.marca }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['brandFormControl'].hasError('required')">
                                Debe seleccionar una Marca
                            </mat-error>
                        </mat-form-field>
                    </div> 	                    
	            </div>        
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field>
                    		<mat-label>Precio (Colones)</mat-label>
                    		<input [(ngModel)]="newProduct.precio"
                    		matInput type="number" placeholder="Precio" 
                    		[formControl]="form.controls['priceFormControl']" #price>
                    		<span matPrefix>₡&nbsp;</span>
						    <span matSuffix>.00</span>
						    <mat-hint align="end">No puede ser negativo</mat-hint>
                    		<mat-error *ngIf="form.get('priceFormControl')?.invalid">
						        Campo <strong>requerido</strong>
						    </mat-error>
                    	</mat-form-field>
                        <mat-form-field>
                    		<mat-label>Duración de Envío (Horas)</mat-label>
                    		<input [(ngModel)]="newProduct.duracionEnvio"
                    		matInput type="number" placeholder="Duración" 
                    		[formControl]="form.controls['shippingTimeFormControl']" #shippingTime>
                    		<span matSuffix>horas</span>
                    		<mat-hint align="end">No puede ser negativo. Se recomienda que no sea 0</mat-hint>
                    		<mat-error *ngIf="form.get('shippingTimeFormControl')?.invalid">
						        Campo <strong>requerido</strong>
						    </mat-error>
                    	</mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field>
                    		<mat-label>Categoría</mat-label>
                    		<mat-select required [(ngModel)]="category"  [formControl]="form.controls['categoryFormControl']" >
						      <mat-option *ngFor="let category of catalogHandler.categoryRecords"  [(value)]="category.idCategoria">
                                {{ category.nombre }}
                              </mat-option>
						    </mat-select>
                    		<mat-error *ngIf="form.controls['categoryFormControl'].hasError('required')">
						        Debe seleccionar una Categoría
						    </mat-error>
                    	</mat-form-field>
                        <mat-form-field>
                    		<mat-label>Tarifa de Envío (Colones)</mat-label>
                    		<input   [(ngModel)]="newProduct.tarifaEnvio"
                    		matInput type="number" placeholder="Tarifa" 
                    		[formControl]="form.controls['shippingFeeFormControl']" #shippingFee>
                    		<span matPrefix>₡&nbsp;</span>
						    <span matSuffix>.00</span>
						    <mat-hint align="end">No puede ser negativo</mat-hint>
                    		<mat-error *ngIf="form.get('shippingFeeFormControl')?.invalid">
						        Campo <strong>requerido</strong>
						    </mat-error>
                    	</mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-12 content-center">
                    	<button class="btn btn-primary form-btn" type="submit()" style="width:100%;">AGREGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>