<main class="page landing-page">
    <section class="clean-block clean-hero">
        <div class="text">
            <h2>Bienvenido a Tico Shop!</h2>
            <p>Una opción innovadora para sus compras rápidas por internet. Correr al supermercado sólo por un par de artículos es cosa del pasado!&nbsp;</p></div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container" style="padding:0 px 15px;margin:40px 16px;">
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="../../../assets/img/super2.jpg"></div>
                <div class="col-md-6">
                    <h2 class="text-info">Info</h2>
                    <div class="getting-started-info">
                        <p><br>Tico Shop es una opción cómoda para sus compras por supermercado. Con nuestra opción de envío, ¡no tendrá que volver a salir de la casa cada vez que se le olvidó comprar la leche! Además, puede comprar sus artículos desde
                            nuestra tienda y luego simplemente ir a retirarlos al supermercado sin necesidad de hacer fila.<br><br></p>
                    </div><a class="btn btn-outline-primary btn-lg" role="button" routerLink='/catalog'>Empezar a comprar!</a></div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Características</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-clock icon"></i>
                    <h4>Velocidad</h4>
                    <p>Sólo un par de clicks y tendrá su compra en un abrir y cerrar de ojos.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-location-pin icon"></i>
                    <h4>¡No se mueva!</h4>
                    <p>Su pedido llega directamente a su casa, ¡sin nesecidad de levantar un dedo del sillón!</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4>Comodidad</h4>
                    <p>¡Puede comprar tranquilamente desde su celular o tablet!</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-credit-card icon"></i>
                    <h4>Facilidad de pago</h4>
                    <p>Con nuestra flexibilidad de pago, puede elegir entre pagar en el supermercado o simplemente ir a recoger su compra.</p>
                </div>
            </div>
        </div>
    </section>
</main>
