
<nav class="navbar navbar-light navbar-expand-lg sticky-top d-flex clean-navbar" id="menu">
    <div class="container-fluid">
        <a class="navbar-brand logo" routerLink="/">
            <div>
                <img src="../assets/img/logoB.png" style="height: 70px; width: 85px;" title="Ir a página de inicio">
            </div>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse float-left" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" [routerLinkActive]="['active']" role="presentation">
                    <a class="nav-link" routerLink="/catalog">Catálogo</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" *ngIf="userHandler.user.tipoUsuario == 0" role="presentation">
                    <a class="nav-link" routerLink="/cart">Carrito</a>
                </li>

                <li class="nav-item" *ngIf="userHandler.user.tipoUsuario==2" role="presentation">
                    <a class="nav-link" routerLink="/seller-registration">Registrarse como Vendedor</a>
                </li>

                <li class="nav-item" *ngIf="userHandler.user.tipoUsuario==2" role="presentation">
                    <a class="nav-link" routerLink="/category-registration">Registrar Nueva Categoría</a>
                </li>

                <li class="nav-item" *ngIf="userHandler.user.tipoUsuario===1" role="presentation">
                    <a class="nav-link" routerLink="/my-products">Mis Productos</a>
                </li>

                <li class="nav-item" *ngIf="userHandler.user.tipoUsuario===2" role="presentation">
                    <a class="nav-link" routerLink="/admin">Administrador</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto" style="float: right;">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-hover-animate="rubberBand" id="nombre_usuario" *ngIf="user">&nbsp;
                        <div class="dropdown">
                          <button class="btn btn-primary" type="button" id="btn_user_name" >{{user.name}}                            
                          </button>
                          <button class="btn btn-default dropdown-toggle" style="background-color: transparent;"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{user.photoUrl}}" id="foto_usuario">
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a 
                                *ngIf="isLogged" 
                                (click)="globalService.signOut()" 
                                class="btn " 
                                role="button">Cerrar Sesión
                            </a>
                          </div>
                        </div>
                    </a>
                </li>

                 
                <li class="nav-item">
                    <button *ngIf="!isLogged" 
                    class="btn btn-outline-dark" 
                    (click)="logIn()">Ingresar</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>



