<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SuperDAJ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Catálogo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Productos</a>
      </li>
      <li class="nav-item">
        <div class="dropdown show">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" id="opcionesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </a>

          <div class="dropdown-menu" aria-labelledby="opcionesMenu">
            <a class="dropdown-item" href="#">Ver mi Perfil</a>
            <a class="dropdown-item" href="#">Acerca de la aplicación</a>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
        </div>
      </li>
    </ul>    
  </div>
</nav>

<router-outlet></router-outlet>