<div class="container profile profile-view" id="profile">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <img mat-card-image class="card-image" src="{{editHandler._selectedProducto.imagen}}" alt="">
                    <input type="file" class="form-control" name="avatar-file" ng2FileSelect [uploader]="productHandler.uploader" accept="image/*;capture=camera">
                </div>
                <div class="col-md-8">
                    <h2>Editar Producto</h2>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                        	<mat-form-field>
                        		<mat-label>Nombre Producto</mat-label>
                        		<input 
                        		matInput placeholder="Nombre" [(ngModel)]="editHandler._selectedProducto.producto" 
                        		[formControl]="form.controls['nameFormControl']" #name>
                        		<mat-error *ngIf="form.controls['nameFormControl'].hasError('required')">
							        Campo <strong>requerido</strong>
							    </mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <mat-form-field>
                        		<mat-label>Cantidad</mat-label>
                        		<input 
                        		matInput type="number" placeholder="Cantidad" [(ngModel)]="editHandler._selectedProducto.existencia" 
                        		[formControl]="form.controls['quantityFormControl']" #quantity>
                        		<mat-hint align="end">No puede ser negativo</mat-hint>
                        		<mat-error *ngIf="form.get('quantityFormControl')?.invalid">
							        Valor no válido o vacío
							    </mat-error>
                        	</mat-form-field>
                        </div>
                    </div>
		            <div class="form-row">
			        	<div class="col-sm-12 col-md-6">
			        		<mat-form-field>
	                    		<mat-label>Descripción del Producto</mat-label>
	                    		<textarea matInput placeholder="Descripción" [(ngModel)]="editHandler._selectedProducto.descripcion" 
	                    		[formControl]="form.controls['descriptionFormControl']"
	                    		#description></textarea> 
	                    		
	                    		<mat-error *ngIf="form.controls['descriptionFormControl'].hasError('required')">
							        Campo <strong>requerido</strong>
							    </mat-error>
	                    	</mat-form-field>                            
			        	</div>    
                        <div class="col-sm-12 col-md-6">
                            <mat-form-field>
                                <mat-label>Marcas</mat-label>
                                <mat-select required  [formControl]="form.controls['brandFormControl']" #category [(ngModel)]="editHandler._selectedProducto.marca">
                                  <mat-option *ngFor="let brand of catalogHandler.brandsRecords" [value]="brand.marca" >
                                    {{ brand.marca }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['brandFormControl'].hasError('required')">
                                    Debe seleccionar una Categoría
                                </mat-error>
                            </mat-form-field>
                        </div>	
		            </div>        
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <mat-form-field>
                        		<mat-label>Precio (Colones)</mat-label>
                        		<input 
                        		matInput type="number" placeholder="Precio" [(ngModel)]="editHandler._selectedProducto.precio" 
                        		[formControl]="form.controls['priceFormControl']" #price>
                        		<span matPrefix>₡&nbsp;</span>
							    <span matSuffix>.00</span>
							    <mat-hint align="end">No puede ser negativo</mat-hint>
                        		<mat-error *ngIf="form.get('priceFormControl')?.invalid">
							        Campo <strong>requerido</strong>
							    </mat-error>
                        	</mat-form-field>
                            <mat-form-field>
                        		<mat-label>Duración de Envío (Horas)</mat-label>
                        		<input 
                        		matInput type="number" placeholder="Duración" [(ngModel)]="editHandler._selectedProducto.duracionEnvio" 
                        		[formControl]="form.controls['shippingTimeFormControl']" #shippingTime>
                        		<span matSuffix>horas</span>
                        		<mat-hint align="end">No puede ser negativo. Se recomienda que no sea 0</mat-hint>
                        		<mat-error *ngIf="form.get('shippingTimeFormControl')?.invalid">
							        Campo <strong>requerido</strong>
							    </mat-error>
                        	</mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <mat-form-field>
                        		<mat-label>Categoría</mat-label>
                        		<mat-select required  [formControl]="form.controls['categoryFormControl']" #category [(ngModel)]="editHandler._selectedProducto.categoria">
                                  <mat-option *ngFor="let category of catalogHandler.categoryRecords" [value]="category.nombre" >
                                    {{ category.nombre }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls['categoryFormControl'].hasError('required')">
                                    Debe seleccionar una Categoría
                                </mat-error>
                        	</mat-form-field>
                            <mat-form-field>
                        		<mat-label>Tarifa de Envío (Colones)</mat-label>
                        		<input   
                        		matInput type="number" placeholder="Tarifa" [(ngModel)]="editHandler._selectedProducto.tarifaEnvio" 
                        		[formControl]="form.controls['shippingFeeFormControl']" #shippingFee>
                        		<span matPrefix>₡&nbsp;</span>
							    <span matSuffix>.00</span>
							    <mat-hint align="end">No puede ser negativo</mat-hint>
                        		<mat-error *ngIf="form.get('shippingFeeFormControl')?.invalid">
							        Campo <strong>requerido</strong>
							    </mat-error>
                        	</mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-12 content-center">
                        	<button class="btn btn-primary form-btn" type="submit" style="width:100%;" (click)="productHandler.pushImageCloud()">EDITAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
